<div>
    <h4>Assessment</h4>
    <table class="smart-form table table-bordered blood-assessment">
        <tr>
            <th>Category</th>
            <th>Systolic (mmHg)</th>
            <th>Diastolic (mmHg)</th>
        </tr>
        <tr>
            <td class="blood-pressure-normal"><strong>Normal</strong></td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsSystolicNormal">
                    <i></i>&lt;120
                </label>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsDiastolicNormal">
                    <i></i>&lt;80
                </label>
            </td>
        </tr>
        <tr>
            <td class="blood-pressure-high-normal"><strong>High-Normal</strong></td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsSystolicHighNormal">
                    <i></i>120-139
                </label>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsDiastolicHighNormal">
                    <i></i>80-89
                </label>
            </td>
        </tr>
        <tr>
            <td class="blood-pressure-mild-hypertension"><strong>Mild Hypertension</strong></td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsSystolicMildHypertension">
                    <i></i>140-159
                </label>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsDiastolicMildHypertension">
                    <i></i>90-99
                </label>
            </td>
        </tr>
        <tr>
            <td class="blood-pressure-moderate-hypertension"><strong>Moderate Hypertension</strong></td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsSystolicModerateHypertension">
                    <i></i>160-179
                </label>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsDiastolicModerateHypertension">
                    <i></i>100-109
                </label>
            </td>
        </tr>
        <tr>
            <td class="blood-pressure-severe-hypertension"><strong>Severe Hypertension</strong></td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsSystolicSevereHypertension">
                    <i></i>&ge;180
                </label>
            </td>
            <td>
                <label class="checkbox">
                    <input type="checkbox" name="checkbox" disabled="disabled" data-ng-model="IsDiastolicSevereHypertension">
                    <i></i>&ge;110
                </label>
            </td>
        </tr>

    </table>
</div>