<ul class="services-list">
    <li class="col-xs-3">
        <ul>
            <li class="dropdown-header">
                Screening and Assistance
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Cardiovascular', patient)">Cardiovascular Risk</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('COPD', patient)">COPD</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('ClinicalInterventions', patient)">Clinical Interventions</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Dose Administration Aid', patient)">Dose Administration Aid</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Home Medicines Review', patient)">Home Medicines Review</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" data-ng-click="openProgram('inhalerTechnique')" gc-select-patient="openProgram('inhalerTechnique', patient)">Inhaler Technique <span class="label label-primary">New</span></a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Know Your Numbers', patient)">Know Your Numbers</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('MedsCheck', patient)">MedsCheck</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('MedScreen Duloxetine', patient)">MedScreen Duloxetine</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('MedScreen Glibenclamide', patient)">MedScreen Glibenclamide</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('MedScreen Telmisartan', patient)">MedScreen Telmisartan</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('MedScreen Salbutamol', patient)">MedScreen Salbutamol</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Patient Plan', patient)">Patient Plan</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Referal / Interprofessional Co..', patient)">Referal / Interprofessional Co..</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Stage Supply', patient)">Stage Supply</a>
            </li>
        </ul>
    </li>
    <li class="col-xs-3">
        <ul>
            <li class="dropdown-header">
                New To Therapy
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Axiron', patient)">Axiron</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Bretaris', patient)">Bretaris</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Brilinta', patient)">Brilinta</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Pradaxa', patient)">Pradaxa</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Spiriva', patient)">Spiriva</a>
            </li>
        </ul>
        <ul>
            <li class="dropdown-header">
                Compilance
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Ezetrol Vytorin', patient)">Ezetrol Vytorin</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Generic Atorvastatin', patient)">Generic Atorvastatin</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Pentasa', patient)">Pentasa</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Spiriva', patient)">Spiriva</a>
            </li>
        </ul>
    </li>
    <li class="col-xs-3">
        <ul>
            <li class="dropdown-header">
                Measurement
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" data-ng-click="openProgram('baby')" gc-select-patient="openProgram('baby', patient)">Baby Progress Recording</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" data-ng-click="openProgram('bloodPressure')" gc-select-patient="openProgram('bloodPressure', patient)">Blood Pressure Recording <span class="label label-primary">New</span></a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" data-ng-click="openProgram('bloodGlucose')" gc-select-patient="openProgram('bloodGlucose', patient)">Blood Glucose Recording <span class="label label-primary">New</span></a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('ClickFit', patient)">ClickFit</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Impromy Weight Loss', patient)">Impromy Weight Loss</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('INR Recording', patient)">INR Recording</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Lipid Recording', patient)">Lipid Recording</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Weight Recording', patient)">Weight Recording</a>
            </li>
        </ul>
    </li>
    <li class="col-xs-3">
        <ul>
            <li class="dropdown-header">
                Other
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Adverse Events Recording', patient)">Adverse Events Recording</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Leave Certificate Request', patient)">Leave Certificate Request</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('My Time To Quit Champix', patient)">My Time To Quit Champix</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Spiriva', patient)">Smoking Cessation</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" gc-select-patient="openProgram('Vaccinations', patient)">Vaccinations</a>
            </li>
            <li>
                <a href="" gc-select-patient-active="{{showSelectPatient}}" data-ng-click="openProgram('weeklyMedicines')" gc-select-patient="openProgram('weeklyMedicines', patient)">Weekly Medicines Pack</a>
            </li>
        </ul>
    </li>
</ul>