<div ng-form="{{name}}" novalidate>
    <fieldset>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.firstname.$invalid }">
                    <input type="text" class="form-control input-md" placeholder="First Name"
                           name="firstname"
                           ng-model="patient.FirstName" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.lastname.$invalid }">
                    <input type="text" placeholder="Last Name" name="lastname"
                           class="form-control input-md"
                           ng-model="patient.LastName" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.address1.$invalid }">
                    <input type="text" class="form-control input-md" placeholder="Address Line 1"
                           name="address1"
                           ng-model="patient.PatientAddressLine1" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.address2.$invalid }">
                    <input type="text" placeholder="Address Line 2" name="address2"
                           class="form-control input-md"
                           ng-model="patient.PatientAddressLine2">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.suburb.$invalid }">
                    <input type="text" placeholder="Suburb" name="suburb" class="form-control input-md"
                           ng-model="patient.PatientSuburb" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.postcode.$invalid }">
                    <input type="text" placeholder="Postcode" name="postcode"
                           class="form-control input-md"
                           ng-model="patient.PatientPostcode" required>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.state.$invalid }">
                    <select class="form-control input-md" placeholder="State" name="state"
                            ng-model="patient.PatientState" required>
                        <option>NSW</option>
                        <option>QLD</option>
                        <option>WA</option>
                        <option>VIC</option>
                        <option>NT</option>
                        <option>SA</option>
                        <option>TAS</option>
                        <option>ACT</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.dateOfBirth.$invalid }">
                    <div class='input-group date' id='datetimepicker1'>
                        <input gc-validation-rule="dateOfBirth" type='text' gc-datepicker
                               class="form-control input-md" placeholder="Date Of Birth"
                               name="dateOfBirth" ng-model="dateOfBirth"
                               data-date-format="dd/mm/yy" required/>
                        <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-calendar"></span>
                                            </span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.gender.$invalid }">
                    <select class="form-control input-md" placeholder="Gender" name="gender"
                            ng-model="patient.Gender" required>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>
                </div>
            </div>
            <div class="col-md-4" ng-hide="{{displayEmail === 'false'}}">
                <div class="form-group" ng-class="{ 'has-error': {{name}}.email.$invalid }">
                    <input type="email" placeholder="Email" name="email" class="form-control input-md"
                           ng-model="patient.EmailAddress" ng-required="{{displayEmail !== 'false'}}">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group" >
                    <input type="text" placeholder="PhoneNumber" name="PhoneNumber" class="form-control input-md" ng-model="patient.PhoneNumber"/>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" placeholder="Mobile Number" name="MobileNumber" class="form-control input-md" ng-model="patient.AlternateContactNumber" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" placeholder="DVA Number" name="DVANumber" class="form-control input-md" ng-model="patient.DVANumber" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <input type="text" placeholder="Medicare Number" name="MedicareNumber" class="form-control input-md" ng-model="patient.MedicareNumber" />
                </div>
            </div>
        </div>
        <div class="row">
           
            <div class="col-md-4" ng-hide="{{displayNdss === 'false'}}">
                <div class="form-group">
                    <input type="text" placeholder="NDSS Number" name="NDSSNumber" class="form-control input-md" ng-model="ndss">
                </div>
            </div>
        </div>

    </fieldset>
</div>