<div class="row technique-item">
    <div class="col-sm-6 col-md-6 col-lg-6">
        {{order}}. {{text}}
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="btn-group btn-group-justified">
            <label class="btn btn-default yes" data-ng-model="item" btn-radio="'Yes'">Yes</label>
            <label class="btn btn-default no" data-ng-model="item" btn-radio="'No'">No</label>
            <label class="btn btn-default" data-ng-model="item" btn-radio="'NA'">N/A</label>
        </div>
    </div>
</div>