<div id="main" role="main">

    <!-- MAIN CONTENT -->

    <div class="lockscreen animated flipInY" >
        <div class="logo">
            <h1 class="semi-bold"><img src="content/img/small-logo.png" alt="" />  GuildCare</h1>
        </div>
        <div>
            <img src="content/img/defaultAvatar.png" alt="" width="120" height="120" />
            <div>
                <h1><i class="fa fa-user fa-3x text-muted air air-top-right hidden-mobile"></i>John Doe <small><i class="fa fa-lock text-muted"></i> &nbsp;Locked</small></h1>
                <p class="text-muted">
                    <a href="mailto:simmons@Guildlink.com">john.doe@Guildlink.com</a>
                </p>

                <div class="input-group">
                    <input class="form-control" type="password" placeholder="Password">
                    <div class="input-group-btn">
                        <a class="btn btn-primary" ui-sref="app.dashboard">
                            <i class="fa fa-key"></i>
                        </a>
                    </div>
                </div>
                <p class="no-margin margin-top-5">
                    Logged as someone else? <a ui-sref="login"> Click here</a>
                </p>
            </div>

        </div>
        <p class="font-xs margin-top-5">
            Guildlink &copy; 2015
        </p>
    </div>

</div>
