<div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false" data-widget-colorbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-color="darken"
     data-jarvis-widget="">

    <header>
        <h2>
            <i class="fa fa-newspaper-o"></i> News
        </h2>
    </header>

    <div class="dashboard-widget">

        <div class="widget-body">

            <div class="row">
                <div id="myCarousel" style="height: 300px;" class="carousel slide">

                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                    </ol>

                    <div class="carousel-inner" style="height: 300px;">
                        <!-- Slide 1 -->
                        <div class="item active" style="height: 300px;">
                            <div class="container">
                                <div class="carousel-caption">
                                    <i class="fa fa-gift" style="font-size: 400%"></i>

                                    <h1>Special Promotion Price for You</h1>

                                    <p>
                                        Thank-you for being an early adopter of GuildCare<br/>
                                        <em>Now for a limited time, you can receive 50% off a new MemoCare
                                            subscription</em><br/>
                                        <br/>
                                        <a class="btn btn-sm btn-primary" href="#" role="button">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="item" style="height: 300px;">
                            <div class="container">
                                <div class="carousel-caption">
                                    <i class="fa fa-dropbox" style="font-size: 400%"></i>

                                    <h1>Join us at APP2015</h1>

                                    <p>
                                        Come and see us at Stand 324<br/>
                                        <em>We'll be running demonstrations and giving away a holiday to one lucky winner!</em><br/>
                                        <br/>
                                        <a class="btn btn-sm btn-primary" href="#" role="button">Read More</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <!--<div id="myCarousel" class="carousel slide" data-ride="carousel">-->
                    <!--&lt;!&ndash; Indicators &ndash;&gt;-->
                    <!--<ol class="carousel-indicators">-->
                        <!--<li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
                        <!--<li data-target="#myCarousel" data-slide-to="1"></li>-->
                    <!--</ol>-->
                    <!--<div class="carousel-inner" role="listbox">-->
                        <!--<div class="item active">-->
                            <!--<div class="slider-size">-->
                                <!--<div class="container">-->
                                    <!--<div class="carousel-caption">-->
                                        <!--<i class="fa fa-gift" style="font-size: 400%"></i>-->
                                        <!--<h1>Special Promotion Price for You</h1>-->

                                        <!--<p>-->
                                            <!--Thank-you for being an early adopter of GuildCare<br/>-->
                                            <!--<em>Now for a limited time, you can receive 50% off a new MemoCare subscription</em><br />-->
                                            <!--<br />-->
                                            <!--<a class="btn btn-sm btn-primary" href="#" role="button">Read More</a>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="item">-->
                            <!--<div class="slider-size">-->
                                <!--<div class="container">-->
                                    <!--<div class="carousel-caption">-->
                                        <!--<i class="fa fa-dropbox" style="font-size: 400%"></i>-->
                                        <!--<h1>Join us at APP2015</h1>-->

                                        <!--<p>-->
                                            <!--Come and see us at Stand 232<br/>-->
                                            <!--<em>For live demonstrations and a chance to win a luxury stay at the Sportsman Hotel, Spring Hill</em><br />-->
                                            <!--<br />-->
                                            <!--<a class="btn btn-sm btn-primary" href="#" role="button">Read More</a>-->
                                        <!--</p>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">-->
                        <!--<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>-->
                        <!--<span class="sr-only">Previous</span>-->
                    <!--</a>-->
                    <!--<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">-->
                        <!--<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>-->
                        <!--<span class="sr-only">Next</span>-->
                    <!--</a>-->
                <!--</div>-->
            </div>
        </div>

    </div>
</div>
