<div class="jarviswidget jarviswidget-color-blueDark" data-widget-editbutton="false" data-widget-colorbutton="false"
     data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-color="darken"
     data-jarvis-widget="">

    <header>
        <h2>
            <i class="fa fa-file-text-o"></i> Program Resources
        </h2>
    </header>

    <div class="dashboard-widget">

        <div class="widget-body">

            <div class="row">
                <div class="col-xs-8">
                    <h3>Follow the links below to view:</h3>
                </div>
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#"><h4><i class="fa fa-plus-circle" style="color: #ffe200;"></i> Program Protocols</h4></a>
                </div>
                <div class="col-xs-6">
                    Software specific guidelines
                </div>
            </div>
            <div class="row-space"></div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#"><h4><i class="fa fa-plus-circle" style="color: #ffe200;"></i> Guides</h4></a>
                </div>
                <div class="col-xs-6">
                    How to use
                </div>
            </div>
            <div class="row-space"></div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#"><h4><i class="fa fa-plus-circle" style="color: #ffe200;"></i> Videos</h4></a>
                </div>
                <div class="col-xs-6">
                    Program tutorials
                </div>
            </div>
            <div class="row-space"></div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#"><h4><i class="fa fa-plus-circle" style="color: #ffe200;"></i> Printables</h4></a>
                </div>
                <div class="col-xs-6">
                    Examples of handouts
                </div>
            </div>
            <div class="row-space"></div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="#"><h4><i class="fa fa-plus-circle" style="color: #ffe200;"></i> Schedules</h4></a>
                </div>
                <div class="col-xs-6">
                    Prompt Schedule (molecule / period)
                </div>
            </div>
        </div>
    </div>
</div>
