<ul class="notification-body">
    <li ng-repeat="qualification in currentActivityItems">
        
        <span>
            <span style="display: inline-block;" data-ng-class="{'col-xs-7': !qualification.ProgramDocumentId, 'col-xs-9': qualification.ProgramDocumentId }">
                <strong>{{qualification.patientFullName}}</strong><br />
                <strong>{{qualification.programName}}</strong><br />
                
                <span class="label {{qualification.QualificationStatus | qualiciationStatus}}">{{qualification.QualificationStatus}}</span>&nbsp;
                <span class=" text-muted">{{qualification.QualificationValue}}</span>
            </span>
            <span class="">
                <gc-program-button program-click="closeDropdown" services="services" qualification="qualification"></gc-program-button>
            </span>
            
		</span>
    </li>
</ul>